@font-face {
    font-family: vouge;
    src: url(../img/font/vogue/Vogue.ttf);
}

@font-face {
    font-family: garet;
    src: url(../img/font/garet/Garet-Book.ttf);
}

body {
    margin: 0;
    margin-top:-3%;
    background-color: #8d6b4f;
}

.sidenav {
    height: 80%;

    width: 8%;
    position: fixed;
    background-color: #684c38;
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 15px;
    color: whitesmoke;
    font-family: garet;
    font-size: small;
}


.main {
    background-color: #8d6b4f;
    color: whitesmoke;
    font-family: garet;
    margin-left: 9%;
    height: 100%;
    padding: 3%;

}

.text {
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 40%;
}

a {

    color: blanchedalmond;
}

#scheda {

    float: right;
    border: 1px solid black;
    margin-right: 2%;
    padding: 20px;
    background-color: #684c38;
    color: whitesmoke;

}

.subtitle {
    font-size: 22px;
    margin-left: 3%;
    margin-top: 5%;

}

.hr_subtitle {
    margin-left: 3%;
    width: 58%;
}



table {
    width: 55%;
    margin-left: 4%;
    margin-bottom: 3%;
    color: black;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: whitesmoke;
    
}

td {
    background-color: whitesmoke;
}

.table_link {
    color: #A77B5D
}

.intestazionetabella {

    background-color: #684c38;
    color: whitesmoke;
}

#immagine {
    

        float: right;
        border: 1px solid black;
        margin-right: 2%;
        padding: 20px;
        background-color: #684c38;
        color: whitesmoke;
        position: absolute;
        margin-top: 40%;
}




